.container {
  background-color: #cccccc;
  background-color: #A39E7C;
  background-color: #D1CEBD;
  background-color: #BEBBA3;
  padding-top: 11rem;
}

.main-wrapper {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.video-title {
  margin: 0;
  padding: 0 0.5rem;
  text-align: center;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-wrapper {
    background-color: #b3b3b3;
    background-color: #DBD7E3;
    border-radius: 7px;
}

/* .vote-and-delete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
} */
.vote-and-delete {
  width: 100%;
  margin: auto;
  text-align: center;
}

.votes-container {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  color: #100e26;
}

.votes {
  font-size: larger;
  margin-top: 0.25em;
}

.like,
.dislike {
  display: inline-block;
  cursor: pointer;
  margin: 0 0.5em 0 0.5em;
  font-size: xx-large;
  font-weight: bolder;
}

@media (min-width: 570px) {
  .container {

      padding-top: 8rem;
    }
}

@media (min-width: 700px) {
  .main-wrapper {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}