.container {
  background-color: yellow;
  padding-top: 10rem;
}

.main-wrapper {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.video-wrapper {
  background-color: red;
}