.search-input-wrapper {
	background-color: #C5C5CA;
	display: flex;
	width: 80%;
	align-items: center;
	justify-content: space-evenly;
	margin: auto;
	padding: 0.25em;
	border-radius: 0.2em;
}

.search-bar {
	background-color: #C5C5CA;
	color: #323234;
	font-size: 1.25rem;
	font-weight: 500;
	border-radius: 0.25em;
	width: 90%;
	border: none;
	outline: none;
}

.fas {
	color: #47474D;
	font-size: 1.25rem;
	height: 24px;
}

.fa-search {
	font-size: 1.25rem;
	color: #47474D;
}

.search-bar::placeholder {
	font-size: 1.25rem;
	color: #47474D;
	font-weight: 500;
}

.search-bar:-ms-input-placeholder {
	font-size: 1.25rem;
	color: #47474D;
	font-weight: 500;
}

.search-bar::-ms-input-placeholder {
	font-size: 1.25rem;
	color: #47474D;
	font-weight: 500;
}

@media (min-width: 1224px) {
	.search-input-wrapper {
		width: 50%;
	}
}